/* NAVIGATION */
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.65s;
  }
  nav ul li a:hover {
    color: #555;
  }
  
  /* stroke */
  nav.stroke ul li a{
    position: relative;
  }
  nav.stroke ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #f36100;
    height: 2.5px;
  }
  li.stroke:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: ".";
    color: transparent;
    background: #f36100;
    height: 2.5px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  input.search {
		background-color: rgba(0,0,0, 0.7);
    color: #fff;
		border: 2.5px solid #fff;
    border-radius: 47px;
    padding: 0px 10px;
    margin-right: 6px;
	}
  input.search:focus::placeholder {
    color:transparent;
	}
  input.search:focus{
    border: 2.5px solid #f36100;
    transition: all 0.65s;
  }
  input.search:hover{
    border: 2.5px solid #f36100;
    transition: all 0.45s;
  }
  input.search:hover::placeholder{
    color: transparent;
    transition: all 0.45s;
    opacity: 1; /* Firefox */
  }
  input.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f36100;
    transition: all 0.45s;
    opacity: 1; /* Firefox */
  }
  .fa:hover{
    color: #f36100;
    transition: all 0.45s;
  }
  button.fa{
    border:0px;
    background-color: transparent;
    color: #fff;
  }
  .nav-menu ul li .dropdown{
    border-radius:15px;
  }
  a{
    color:#f36100;
  }
  a.successLogin{
    color:#f36100 !important;
  }
  form input:focus{
    border: 1.5px solid #f36100;
    transition: all 0.3s;
  }
  form input:focus::placeholder {
    color:transparent;
	}
  a.reg{
    padding: 3.7%;
    margin:0% !important;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1381px){
    div.to-search {
      display: none !important;
    }
    div.to-option{
      width:-60%;
      left:-30%;
    }
  }

  ul.profilMenu{
    left: -100px !important;
    text-align: right !important;
    padding-top:2% !important;
    width: auto !important;
  }
  a.profilMenuItem{
    left: -10%;
  }
  div.alert-danger{
    color:#f36100;
    background-color: rgb(21,21,21);
    border:#f36100 solid 1px;
    text-align: center;
    margin-top: 2%;
  }
  div.alert-success{
    color:#37a820;
    background-color: rgb(21,21,21);
    border:#37a820 solid 1px;
    text-align: center;
    margin-top: 2%;
  }
  hr.hr{
    border: 1px solid #fff !important;
    margin: 2px !important;
  }
  p.p{
    text-align: center; 
    margin:2px;
  }
  .modify-btn{
    width:auto !important;
    padding:14px 20px !important;
    border:0px !important;
  }
  .cancel-btn{
    width: auto !important;
    margin-top: 0% !important;
    height:46px !important;
    padding:0px 20px !important;
    left:10% !important;
  }
  .order-btn{
    width: auto !important;
    margin: 1% !important;
    margin-right: 0% !important;
    height: 36px !important;
    padding: 0px 14px !important;
    font-size: 24px;
    cursor:pointer;
  }
  .save-btn{
    width: auto !important;
    margin:0px 20px;
    left:10% !important;
  }
  ol{
    color:#fff;
    margin-left: 23px;
  }
  #billing-types{
    padding-left:0px; 
    margin: 0px !important; 
    padding-left: 16px;
  }
  input.file{
    font-size: 14px !important;
    padding: 0px !important;
    width: 269px !important;
    height: 29px !important;
  }
  img.student_card{
    width: 120px;
    height: 80px;
    border:#f36100 solid 3px;
    margin-left: 261px;
  }
  
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }
  